.about_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
    gap: 7vh;
    height: 100vh;

    h1 {
        color: white;
        font-size: 30px;
    }

    .aboutMe {
        display: flex;
        justify-content: center;
        gap: 5vw;



        .desc {
            //background-color: bisque;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 45vw;


            p {

                padding: 20px;
                width: 70%;
                color: white;
                font-size: 20px;

            }
        }

        .nameImage {
            display: flex;
            flex-direction: column;
            //background-color: aqua;
            padding: 30px;
            color: white;
            font-size: 22px;

            img {
                width: 500px;
                height: 500px;
                border-radius: 50%;
                object-fit: cover;
            }

        }

    }
}