.banSect {}

.banner {
    width: 100vw;
    height: 80vh;
    background-size: cover; // Asegura que la imagen cubra todo el contenedor
    background-position: center; // Centra la imagen en el contenedor
    background-repeat: no-repeat; // Evita que la imagen se repita

    // background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        padding: 10px;
        border: 2px solid white;
        font-size: 30px;

        border-radius: 20px;

        cursor: pointer;
        /* Cambia el cursor al pasar sobre el enlace */

        &:hover {
            background-color: white;
            border: 1px solid black;
            opacity: 0.5;
            color: black;
        }
    }
}