.banSect {}

.banner {
    width: 45vw;
    height: 80vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h1 {
        padding: 10px;
        border: 2px solid white;
        font-size: 30px;
        border-radius: 20px;
        cursor: pointer;

        transition: all 0.3s ease-in-out;


        &:hover {
            background-color: white;
            border: 1px solid black;
            opacity: 0.8;
            color: black;
            transform: scale(1.1);
        }
    }
}