.contactMe {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    // margin-left: 15vw;

    font-size: 20px;
    color: white;


    div {
        width: 45vw;
    }

    a {

        font-size: 20px;
        border: 1px solid white;
        padding: 10px;
        border-radius: 20px;
        cursor: pointer;


        transition: all 0.3s ease-in-out;


        &:hover {
            background-color: white;
            border: 1px solid black;
            opacity: 0.5;
            color: black;
            transform: scale(1.5);

        }
    }




}