.header {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding-right: 20px;


    .logo {
        width: auto;
        height: 50px;
        object-fit: cover;
    }

    nav {
        padding: 10px;

        .navMenu {
            display: flex;
            gap: 5vw;
            align-items: right;
        }
    }

}