@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


body {


    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
        url('/images/playground.jpg');
    background-size: contain;

    background-position: top;

    background-repeat: repeat-y;



    /* .bans {
        display: flex;
        gap: 10vw;
        justify-content: center;
        //margin-bottom: 10vh;
    }*/

}

* {
    font-family: 'Dancing Script', cursive;
}